In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

## Import Data

In [2]:
path = r'/Users/henning/Portfolio/Hotel_Booking'

In [3]:
h1 = pd.read_csv(os.path.join(path, 'Data', 'Raw', 'H1.csv'), index_col = False)

In [4]:
h2 = pd.read_csv(os.path.join(path, 'Data', 'Raw', 'H2.csv'), index_col = False)

## Data Profile

In [5]:
h1.isnull().sum()

IsCanceled                       0
LeadTime                         0
ArrivalDateYear                  0
ArrivalDateMonth                 0
ArrivalDateWeekNumber            0
ArrivalDateDayOfMonth            0
StaysInWeekendNights             0
StaysInWeekNights                0
Adults                           0
Children                         0
Babies                           0
Meal                             0
Country                        464
MarketSegment                    0
DistributionChannel              0
IsRepeatedGuest                  0
PreviousCancellations            0
PreviousBookingsNotCanceled      0
ReservedRoomType                 0
AssignedRoomType                 0
BookingChanges                   0
DepositType                      0
Agent                            0
Company                          0
DaysInWaitingList                0
CustomerType                     0
ADR                              0
RequiredCarParkingSpaces         0
TotalOfSpecialRequests           0
ReservationStatus                0
ReservationStatusDate            0
dtype: int64

In [6]:
h1.describe()

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,Babies,IsRepeatedGuest,PreviousCancellations,PreviousBookingsNotCanceled,BookingChanges,DaysInWaitingList,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests
count,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.000000,40060.00000
mean,0.277634,92.675686,2016.121443,27.140864,15.821243,1.189815,3.128732,1.867149,0.128682,0.013904,0.044383,0.101722,0.146455,0.287968,0.527758,94.952930,0.138068,0.61977
std,0.447837,97.285315,0.722347,14.005441,8.883708,1.147812,2.461329,0.697285,0.445195,0.118998,0.205948,1.335115,1.001955,0.726548,7.428580,61.442418,0.351001,0.81393
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-6.380000,0.000000,0.00000
25%,0.000000,10.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,50.000000,0.000000,0.00000
50%,0.000000,57.000000,2016.000000,28.000000,16.000000,1.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,75.000000,0.000000,0.00000
75%,1.000000,155.000000,2017.000000,38.000000,24.000000,2.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,125.000000,0.000000,1.00000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,2.000000,1.000000,26.000000,30.000000,17.000000,185.000000,508.000000,8.000000,5.00000

In [7]:
h1.describe().to_clipboard()

In [8]:
h1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40060 entries, 0 to 40059
Data columns (total 31 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   IsCanceled                   40060 non-null  int64
 1   LeadTime                     40060 non-null  int64
 2   ArrivalDateYear              40060 non-null  int64
 3   ArrivalDateMonth             40060 non-null  object
 4   ArrivalDateWeekNumber        40060 non-null  int64
 5   ArrivalDateDayOfMonth        40060 non-null  int64
 6   StaysInWeekendNights         40060 non-null  int64
 7   StaysInWeekNights            40060 non-null  int64
 8   Adults                       40060 non-null  int64
 9   Children                     40060 non-null  int64
 10  Babies                       40060 non-null  int64
 11  Meal                         40060 non-null  object
 12  Country                      39596 non-null  object
 13  MarketSegment                40060 non-null  object
 14  DistributionChannel          40060 non-null  object
 15  IsRepeatedGuest              40060 non-null  int64
 16  PreviousCancellations        40060 non-null  int64
 17  PreviousBookingsNotCanceled  40060 non-null  int64
 18  ReservedRoomType             40060 non-null  object
 19  AssignedRoomType             40060 non-null  object
 20  BookingChanges               40060 non-null  int64
 21  DepositType                  40060 non-null  object
 22  Agent                        40060 non-null  object
 23  Company                      40060 non-null  object
 24  DaysInWaitingList            40060 non-null  int64
 25  CustomerType                 40060 non-null  object
 26  ADR                          40060 non-null  float64
 27  RequiredCarParkingSpaces     40060 non-null  int64
 28  TotalOfSpecialRequests       40060 non-null  int64
 29  ReservationStatus            40060 non-null  object
 30  ReservationStatusDate        40060 non-null  object
dtypes: float64(1), int64(17), object(13)
memory usage: 9.5+ MB

In [9]:
string_columns = h1.select_dtypes(include=['object']).columns

In [10]:
top_frequent_values = {}
for col in string_columns:
    value_counts = h1[col].value_counts()
    top_values = value_counts.head(4)  # This gives the top 4 most frequent values
    top_frequent_values[col] = top_values

In [11]:
for col, top_values in top_frequent_values.items():
    print(f"Column: {col}\n{top_values}\n")

Column: ArrivalDateMonth
ArrivalDateMonth
August    4894
July      4573
April     3609
May       3559
Name: count, dtype: int64

Column: Meal
Meal
BB           30005
HB            8046
Undefined     1169
FB             754
Name: count, dtype: int64

Column: Country
Country
PRT    17630
GBR     6814
ESP     3957
IRL     2166
Name: count, dtype: int64

Column: MarketSegment
MarketSegment
Online TA        17729
Offline TA/TO     7472
Direct            6513
Groups            5836
Name: count, dtype: int64

Column: DistributionChannel
DistributionChannel
TA/TO        28925
Direct        7865
Corporate     3269
Undefined        1
Name: count, dtype: int64

Column: ReservedRoomType
ReservedRoomType
A                   23399
D                    7433
E                    4982
G                    1610
Name: count, dtype: int64

Column: AssignedRoomType
AssignedRoomType
A                   17046
D                   10339
E                    5638
C                    2214
Name: count, dtype: int64

Column: DepositType
DepositType
No Deposit         38199
Non Refund          1719
Refundable           142
Name: count, dtype: int64

Column: Agent
Agent
        240    13905
       NULL     8209
        250     2869
        241     1721
Name: count, dtype: int64

Column: Company
Company
       NULL    36952
        223      784
        281      138
        154      133
Name: count, dtype: int64

Column: CustomerType
CustomerType
Transient          30209
Transient-Party     7791
Contract            1776
Group                284
Name: count, dtype: int64

Column: ReservationStatus
ReservationStatus
Check-Out    28938
Canceled     10831
No-Show        291
Name: count, dtype: int64

Column: ReservationStatusDate
ReservationStatusDate
2017-01-19    147
2016-02-09    145
2016-02-29    129
2017-02-28    124
Name: count, dtype: int64